# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/
.venv/

# Logs
*.log
honeypot.log

# IDE/Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Node.js (jeśli używasz npm/yarn w frontendzie)
node_modules/
package-lock.json
yarn.lock

# Misc
*.bak
*.swp